[submodule "themes/congo"]
	path = themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
[submodule "themes/gallery"]
	path = themes/gallery
	url = https://github.com/nicokaiser/hugo-theme-gallery.git
